<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodOrderingSystem</display-name>
  <context-param>
    <param-name>DB-IN-USE</param-name>
    <param-value>MYSQL</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_dbname</param-name>
    <param-value>foodorderingsystem</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306/</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_password</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SearchingDish</display-name>
    <servlet-name>SearchingDishServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.dishes.controller.SearchingDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchingDishServlet</servlet-name>
    <url-pattern>/SearchingDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishUpdate</display-name>
    <servlet-name>DishUpdateServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.dishes.controller.DishUpdateServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishUpdateServlet</servlet-name>
    <url-pattern>/DishUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDishes</display-name>
    <servlet-name>AddDishesServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.dishes.controller.AddDishesServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDishesServlet</servlet-name>
    <url-pattern>/AddDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDish</display-name>
    <servlet-name>deleteDishServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.dishes.controller.deleteDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDishServlet</servlet-name>
    <url-pattern>/deleteDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uploaddishimage</display-name>
    <servlet-name>Uploaddishimage</servlet-name>
    <servlet-class>com.narola.fooddelivery.dishes.Uploaddishimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploaddishimage</servlet-name>
    <url-pattern>/Uploaddishimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailofCategoryServlet</display-name>
    <servlet-name>DetailofCategoryServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.restaurants.controller.DetailofCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailofCategoryServlet</servlet-name>
    <url-pattern>/DishDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRestaurant</display-name>
    <servlet-name>AddRestaurantServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.restaurants.controller.AddRestaurantServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRestaurantServlet</servlet-name>
    <url-pattern>/AddRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRestaurantServlet</display-name>
    <servlet-name>SearchRestaurantServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.restaurants.controller.SearchRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRestaurantServlet</servlet-name>
    <url-pattern>/SearchRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRestaurantServlet</display-name>
    <servlet-name>UpdateRestaurantServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.restaurants.controller.UpdateRestaurantServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RestaurantDetailServlet</display-name>
    <servlet-name>RestaurantDetailServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.restaurants.controller.RestaurantDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRestaurantServlet</servlet-name>
    <url-pattern>/UpdateRestaurant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestaurantDetailServlet</servlet-name>
    <url-pattern>/RestaurantDetail</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>validateDish</display-name>
    <filter-name>ValidateDishFilter</filter-name>
    <filter-class>com.narola.fooddelivery.dishes.validation.ValidateDishFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>ValidateDishFilter</filter-name>
    <servlet-name>AddDishesServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateDishFilter</filter-name>
    <servlet-name>DishUpdateServlet</servlet-name>
  </filter-mapping>
  <filter>
    <description></description>
    <display-name>ValidateRestaurantFilter</display-name>
    <filter-name>ValidateRestaurantFilter</filter-name>
    <filter-class>com.narola.fooddelivery.restaurants.validation.ValidateRestaurantFilter</filter-class>
  </filter>
  <filter>
    <description></description>
    <display-name>ValidateLocation_filter</display-name>
    <filter-name>ValidateLocation_filter</filter-name>
    <filter-class>com.narola.fooddelivery.location.ValidateLocation_filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateRestaurantFilter</filter-name>
    <servlet-name>AddRestaurantServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateLocation_filter</filter-name>
    <servlet-name>AddRestaurantServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateRestaurantFilter</filter-name>
    <servlet-name>UpdateRestaurantServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateLocation_filter</filter-name>
    <servlet-name>UpdateRestaurantServlet</servlet-name>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>User/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserServlet</display-name>
    <servlet-name>ViewUserServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.ViewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserServlet</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilepageServlet</display-name>
    <servlet-name>ProfilepageServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.ProfilepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilepageServlet</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantLoginServlet</display-name>
    <servlet-name>RestaurantLoginServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.restaurants.RestaurantLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantLoginServlet</servlet-name>
    <url-pattern>/RestaurantLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperCategoryServlet</display-name>
    <servlet-name>SuperCategoryServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.category.SuperCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperCategoryServlet</servlet-name>
    <url-pattern>/SuperCategories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoriesServlet</display-name>
    <servlet-name>SubCategoriesServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.category.SubCategoriesServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoriesServlet</servlet-name>
    <url-pattern>/SubCategories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubCategoryServlet</display-name>
    <servlet-name>UpdateSubCategoryServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.category.UpdateSubCategoryServlet</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubCategoryServlet</servlet-name>
    <url-pattern>/UpdateSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartServlet</display-name>
    <servlet-name>AddtoCartServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.Cart.AddtoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/AddtoCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/UpdateItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.Cart.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLocationServlet</display-name>
    <servlet-name>AddLocationServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.location.AddLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLocationServlet</servlet-name>
    <url-pattern>/AddLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.order.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.order.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewOrderServlet</display-name>
    <servlet-name>NewOrderServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.order.NewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewOrderServlet</servlet-name>
    <url-pattern>/NewOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewOrderServlet</servlet-name>
    <url-pattern>/ProcessingOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewOrderServlet</servlet-name>
    <url-pattern>/CompletedOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionSuccessServlet</display-name>
    <servlet-name>TransactionSuccessServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.Transaction.TransactionSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionSuccessServlet</servlet-name>
    <url-pattern>/TransactionSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRatingServlet</display-name>
    <servlet-name>AddRatingServlet</servlet-name>
    <servlet-class>com.narola.fooddelivery.review.AddRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRatingServlet</servlet-name>
    <url-pattern>/AddRating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <load-on-startup>1</load-on-startup>
    <servlet-class>com.narola.fooddelivery.utility.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/DatabaseServlet</url-pattern>
  </servlet-mapping>
</web-app>